/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body{
    padding-bottom: 0;
}

button{
    outline:none !important;
}

.navbar-main-content{
    position: fixed;
    z-index: 99;
    background-color: #ffffff;
    border-bottom: 1px solid #d8d8d8;
    left: 0;
    right: 0;
    top:0;
}

.carousel-out-content{
    margin-top: 120px;
}

.carousel-out-content .item a{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.site-main-title{
    text-align: center;
    padding: 100px 30px;
    background-color: #f5f5f5;
    margin-top: 120px;
    text-transform: uppercase;
    margin-bottom: 100px;
}

.site-main-subtitle{
    width: 100%;
    margin-top: 8px;
    display: block;
    font-size: 18px;
    color: #9c9c9c;
}

.main-content{
    margin-bottom: 100px;
}

.marketing.main-menu{
    background: #d7d7d7;
}

.marketing.main-menu .row{
    text-align: center;
}

.marketing.main-menu .marketing-item{
    width: 19%;
    display: inline-block;
    padding: 15px;
}

.marketing.main-menu .marketing-item a{
    text-decoration: none;
}

.marketing.main-menu .marketing-item a:hover{
    text-decoration: none;
}

.marketing.main-menu .marketing-item img{
    width: 30%;
    height: auto;
}

.marketing.main-menu .marketing-item h2{
    color: #272727;
    font-size: 17px;
    margin-top: 8px;
}

.marketing.main-menu .marketing-item:hover{
    background: #9a2349;
}

.marketing.main-menu .marketing-item:hover h2{
    color: #f5f5f5;
}

.portais-content{
    background-color: #f5f5f5;
}

.marketing.portais{
    padding-top: 90px;
    padding-bottom: 23px;
}

.marketing.portais .row{
    text-align: center;
}

.marketing.portais .portal-item{
    width: 33%;
    display: inline-block;
    text-align: left;
    padding: 5px;
    background-color: #ffffff;
}

.marketing.portais .portal-item .portal-item-img{
    width: 100%;
    height: 330px;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.marketing.portais .portal-item h2{
    color: #99254a;
    font-size: 22px;
    margin-top: 41px;
    margin-bottom: 20px;
    padding-left: 10px;
    font-weight: bold;
}

.marketing.portais .portal-item ul{
    padding: 5px;
    padding-left: 30px;
    font-size: 12px;
}

.marketing.portais .portal-item button{
    background: none;
    color: #99254a;
    background-color: #ffffff;
    border: 3px solid #99254a;
    padding: 6px 30px;
    border-radius: 7px;
    margin: 5px;
}

.marketing.portais .portal-item button:hover{
    color: #ffffff;
    background-color: #99254a;
}

.carousel-content .carousel .item,.carousel-content .carousel{
    height: 480px;
}

.carousel{
    margin-bottom: 0;
}

.guia-content{

}

.guia-column img{
    width: 100%;
}

.guia-column p{
    font-size: 20px;
    margin-top: 20px;
    display: inline-block;
}

.iframe-content{
    margin-top: 50px;
    margin-bottom: 50px;
}



@media (min-width: 768px){
    .container.carousel-out-content {
        width: 750px;
    }
    .carousel-content .carousel .item,.carousel-content .carousel{
        height: 480px;
    }
}

@media (min-width: 992px){
    .container.carousel-out-content {
        width: 970px;
    }
    .carousel-content .carousel .item,.carousel-content .carousel{
        height: 238px;
    }
}

@media (max-width: 992px){
    .marketing.portais .portal-item{
        width: 70%;
        margin: 0 auto;
        margin-bottom: 30px;
    }
}

@media (max-width: 530px){
    .marketing.portais .portal-item{
        width: 90%;
    }
}

@media (max-width: 630px){
    .marketing.main-menu .marketing-item{
        width: 40%;
    }
}

@media (max-width: 400px){
    .marketing.main-menu .marketing-item{
        width: 100%;
    }
}

@media (min-width: 1200px){
    .container.carousel-out-content {
        width: 90%;
    }
    .carousel-content .carousel .item,.carousel-content .carousel{
        height: 480px;
    }
}


@media (max-width: 1630px){
    .carousel-content .carousel .item,.carousel-content .carousel{
        height: 400px;
    }
}

@media (max-width: 1360px){
    .carousel-content .carousel .item,.carousel-content .carousel{
        height: 350px;
    }
}

@media (max-width: 1200px){
    .carousel-content .carousel .item,.carousel-content .carousel{
        height: 300px;
    }
}

@media (max-width: 992px){
    .carousel-content .carousel .item,.carousel-content .carousel{
        height: 238px;
    }
}


@media (max-width: 768px){
    .navbar-collapse.in{
        overflow-y: visible;
    }
    .navbar .nav{
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        text-align: center;
        margin: 0;
    }
}


@media (max-width: 765px){
    .carousel-content .carousel .item,.carousel-content .carousel{
        height: 200px;
    }
}

@media (max-width: 655px){
    .carousel-content .carousel .item,.carousel-content .carousel{
        height: 165px;
    }
}

@media (max-width: 555px){
    .carousel-content .carousel .item,.carousel-content .carousel{
        height: 110px;
    }
}

.marketing.consultor{
    background-color: #80113b;
    padding: 70px 15px;
}

.marketing.consultor .title{
    text-align: center;
    color: #ffffff;
}

.marketing.consultor .title h2{
    font-size: 30px;
}

.marketing.consultor .title button  {
    text-align: center;
    background-color: white;
    font-size: 17px;
    padding: 10px 25px;
    color: #333;
    margin-left: 11px;
}

.marketing.singulares{
    margin-top: 30px;
}

.marketing.singulares .carousel, .marketing.singulares .carousel .item{
    height:100px;
    background-color: transparent;
}

.marketing.singulares .carousel .carousel-control{
    width: 5%;
    background: none;
}

.marketing.singulares .carousel .carousel-indicators{
    bottom: -30px;
}

.marketing.singulares .carousel .carousel-caption{
    left: 7%;
    right: 7%;
    top: -3px;
}

.marketing.singulares .carousel .carousel-caption ul{
    padding: 0;
    list-style: none;
}

.marketing.singulares .carousel .carousel-caption ul li{
    padding: 1%;
    border: 1px solid black;
    border-radius: 10px;
    width: 23%;
    margin: 1%;
    float: left;
}

.marketing.singulares .carousel .carousel-indicators li{
    border-color: #333;
}

.marketing.singulares .carousel .carousel-caption ul li img{
    width: 100%;
}

.marketing.singulares .carousel .carousel-indicators .active{
    background-color: #333;
}

.marketing.singulares .title{
    border-top: 1px solid #333;
    padding-top: 11px;
}

.footer{
    background-color: #75263c;
    color: #ffffff;

}
.footer .footer-item{
    background-color: #75263c;
    color: #ffffff;

}
.footer .footer-item .title{
    text-align: left;
    font-size:15px;
    text-transform: uppercase;
}
.footer .footer-list{
    padding:0;
    list-style: none;
    text-align: left;
}
.footer .footer-list-item{
    font-size: 12px;
    margin-bottom: 10px;
    border-bottom: 1px solid #6a2237;
    padding-bottom: 8px;
}
.footer .footer-list-item a{
    text-decoration: none;
    color: #ffffff;
}

.footer .copyright{
    background-color: #8f2345;
}

.footer .copyright h2{
    font-size: 12px;
    text-align: center;
}

#navbar{
    padding-top: 36px;
}

.navbar{
    height: 100px;
}

.navbar .nav{

}

.navbar-brand>img {
    width: 165px;
}

.navbar ul a, .navbar .dropdown-menu a{
    color: #99254a;
}

.navbar ul a:hover, .navbar .dropdown-menu a:hover{
    background-color: #2b0d19;
    color: #ffffff;
    background-image: none;

}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
    background-color: #2b0d19;
    color: #ffffff;
}

.navbar-toggle{
    margin-top: 21px;
}

.logo-ouvidoria{
    width: 150px;
    margin-bottom: 25px;
    margin-right: 15px;
}

/*---------------------------*/

.singulares-content{
    padding-top: 50px;
    margin: -20px;
}

.singulares-content .singular{
    text-align: center;
    border: 1px solid #383838;
    padding: 25px 0;
    border-radius: 13px;
    margin: 1%;
    width: 23%;
}

.singulares-content .singular img{
    width: 70%;
}

.planos-empresariais-content .main-menu{
    margin-bottom: 50px;
    margin-top: -100px;
}

.planos-individuais-content textarea{
    resize: none;
}

.planos-individuais-content .nav-tabs li > a{
    background-color: #e6a305;
    color: white;
}

.planos-individuais-content .nav-tabs li.active > a{
    background-color: #75263c;
    color: #ffffff;
}

.submit, .submit:hover, .submit:active{
    width: 100%;
    background-image: none;
    background: #a22549;
    border: 0;
}
.planos-individuais-content .tab-pane .wpb_wrapper{
    padding: 20px;
}

.planos-empresariais-content table td{
    padding: 10px;
}

.contato-content form .radio-field{
    float: left;
    width: initial;
    height: 15px;
    margin-right: 10px;
}

.contato-content form .form-input{
    margin-top: 10px;
}

.ouvidoria-content .site-main-title{
    margin-bottom: 40px;
}















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
